// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section{
	background-color:gold;
	padding:10px;
	width:250px;
	margin: 0 auto;
	line-heignt:100%;
}